h1 {
  color: crimson;
}
h2{
  margin-bottom: 22px;
}
label{
  display: flex;
  justify-content: left;
}
button{
  height: 25px;
  width: 11%;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 0%;
}